# Development environment variables
PORT=3000
DB_HOST=localhost
DB_USER=demo_user
DB_PASSWORD=demo_pass
DB_NAME=myblog
DB_DIALECT=mysql
SESSION_SECRET=your_session_secret
RESEND_API_KEY=

SUPABASE_URL=
SUPABASE_SECRET_KEY=
SUPABASE_BUCKET_NAME=image_post
REDIS_HOST=localhost
REDIS_PORT=6379

# Test database environment variables
TEST_DB_HOST=127.0.0.1
TEST_DB_USER=root
TEST_DB_PASSWORD=
TEST_DB_NAME=database_test
TEST_DB_DIALECT=mysql

# Superadmin seeder credentials
SUPERADMIN_EMAIL=admin@gmail.com
SUPERADMIN_PASSWORD=admin123

# Production environment variables
PROD_PORT=3000
PROD_DB_HOST=127.0.0.1
PROD_DB_USER=demo_user
PROD_DB_PASSWORD=demo_pass
PROD_DB_NAME=myblog
PROD_DB_DIALECT=mysql
PROD_SESSION_SECRET=your_production_session_secret
PROD_RESEND_API_KEY=
PROD_SUPABASE_URL=
PROD_SUPABASE_SECRET_KEY=
PROD_SUPABASE_BUCKET_NAME=
PROD_REDIS_HOST=127.0.0.1
PROD_REDIS_PORT=6379
