# General config
PORT=3000
SESSION_SECRET=your_session_secret_here

# Database config
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=
DB_NAME=myblog
DB_DIALECT=mysql

# Supabase config
SUPABASE_URL=
SUPABASE_SECRET_KEY=
SUPABASE_BUCKET_NAME=

# Redis config
REDIS_HOST=localhost
REDIS_PORT=6379

# Resend Mail config
RESEND_API_KEY=

# Test environment
TEST_DB_HOST=127.0.0.1
TEST_DB_USER=root
TEST_DB_PASSWORD=
TEST_DB_NAME=database_test
TEST_DB_DIALECT=mysql

# Production environment
PROD_PORT=3000
PROD_DB_HOST=127.0.0.1
PROD_DB_USER=root
PROD_DB_PASSWORD=
PROD_DB_NAME=database_production
PROD_DB_DIALECT=mysql
PROD_SESSION_SECRET=
PROD_RESEND_API_KEY=
PROD_SUPABASE_URL=
PROD_SUPABASE_SECRET_KEY=
PROD_SUPABASE_BUCKET_NAME=
PROD_REDIS_HOST=127.0.0.1
PROD_REDIS_PORT=6379
